@import 'styles/_colors.scss';

.container {
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 60px;
}

.logo {
	font-size: 28px;
	font-weight: bold;
}

.menu-container {
	position: fixed;
	top: 25px;
	right: 60px;
	
	.button {
		width: 30px;
	    height: 30px;
	    background: $darkergrey;
	    display: flex;
	    justify-content: center;
	}
	ul.menu {
		margin-top: 20px;
		padding: 12px 10px;
		background: $white;
	}

	li {
		font-size: 16px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}