@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';

.container {
	height: 75px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 60px;

	@include for-phone-only {
		height: 60px;
		margin: 0 20px;
	}
}

.logo {
	// position: fixed;
	// top: 17px;
	// left: 0;
	font-size: 28px;
	font-weight: bold;
	background: $white;
	padding: 4px 8px;
}

.menu-container {
	// position: fixed;
	// top: 23px;
	// right: 0;

	.button {
		width: 34px;
	    height: 34px;
	    background: $white;
	    display: flex;
	    justify-content: center;
	}

	ul.menu {
		margin-top: 20px;
		padding: 12px 10px;
		background: $white;
		display: none;
		position: absolute;
   		right: 0;

		&.active {
			display: block;
		}
	}

	li {
		font-size: 20px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}