@import 'styles/_colors.scss';

.container {
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 60px;
}

.logo {
	font-size: 40px;
}

.menu-container {
	.button {
		position: fixed;
		background: $darkergrey;
		width: 30px;
	    height: 30px;
	    display: flex;
	    justify-content: center;
	}
	ul.menu {
		display: none;
	}
}