@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
.HamburgerButton-button-3Kmsn {
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer; }

.HamburgerButton-hamburger-1b52a {
  position: relative; }
  .HamburgerButton-hamburger-1b52a, .HamburgerButton-hamburger-1b52a:before, .HamburgerButton-hamburger-1b52a:after {
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .HamburgerButton-hamburger-1b52a:before, .HamburgerButton-hamburger-1b52a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0; }
  .HamburgerButton-hamburger-1b52a:before {
    transform: translateY(-7px); }
  .HamburgerButton-hamburger-1b52a:after {
    transform: translateY(7px); }

.HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a {
  background: transparent; }
  .HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a:before {
    transform: translateY(0) rotate(135deg); }
  .HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a:after {
    transform: translateY(0) rotate(225deg); }

.Header-container-3ZpuA {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px; }

.Header-logo-1oDyD {
  font-size: 28px;
  font-weight: bold; }

.Header-menu-container-2rqw1 {
  position: fixed;
  top: 25px;
  right: 60px; }
  .Header-menu-container-2rqw1 .Header-button-3USmz {
    width: 30px;
    height: 30px;
    background: #232323;
    display: flex;
    justify-content: center; }
  .Header-menu-container-2rqw1 ul.Header-menu-sKL0B {
    margin-top: 20px;
    padding: 12px 10px;
    background: #fff; }
  .Header-menu-container-2rqw1 li {
    font-size: 16px; }
    .Header-menu-container-2rqw1 li:not(:last-child) {
      margin-bottom: 10px; }

.HeroBanner-container-fYWwV {
  width: 100%;
  height: 100vh;
  padding: 0 60px;
  background: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.HeroBanner-text-container-3UaLg {
  width: 50%;
  text-align: center; }

.HeroBanner-text-2io57 {
  font-size: 40px;
  line-height: 1.3;
  color: #fff; }

.styles-clearfix-2Rb3A:before,
.styles-clearfix-2Rb3A:after {
  content: "";
  display: table; }

.styles-clearfix-2Rb3A:after {
  clear: both; }

.styles-clearfix-2Rb3A {
  zoom: 1; }

* {
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
  margin: 0; }

html,
body {
  font-size: 10px; }

p {
  font-size: 1.4rem;
  line-height: 1.6em; }
  p small {
    font-size: .8em; }

a {
  transition: color 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  backface-visibility: hidden;
  text-decoration: none;
  color: #666;
  font-family: inherit; }
  a:hover {
    color: #232323;
    cursor: pointer; }
  a:focus {
    outline: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1.4rem; }

/*Oswald Webfont*/
@font-face {
  font-family: 'Oswald', sans-serif; }


/*# sourceMappingURL=styles.chunk.css.map*/