@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
.HamburgerButton-button-3Kmsn {
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer; }

.HamburgerButton-hamburger-1b52a {
  position: relative; }
  .HamburgerButton-hamburger-1b52a, .HamburgerButton-hamburger-1b52a:before, .HamburgerButton-hamburger-1b52a:after {
    width: 20px;
    height: 2px;
    background-color: #414141;
    border-radius: 3px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .HamburgerButton-hamburger-1b52a:before, .HamburgerButton-hamburger-1b52a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0; }
  .HamburgerButton-hamburger-1b52a:before {
    transform: translateY(-7px); }
  .HamburgerButton-hamburger-1b52a:after {
    transform: translateY(7px); }

.HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a {
  background: transparent; }
  .HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a:before {
    transform: translateY(0) rotate(135deg); }
  .HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a:after {
    transform: translateY(0) rotate(225deg); }

.Header-container-3ZpuA {
  height: 60px;
  margin: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 1024px) {
    .Header-container-3ZpuA {
      height: 75px;
      margin: 0 60px; } }

.Header-logo-1oDyD {
  font-size: 28px;
  font-weight: bold;
  background: #fff;
  padding: 4px 8px; }

.Header-menu-container-2rqw1 .Header-button-3USmz {
  width: 34px;
  height: 34px;
  background: #fff;
  display: flex;
  justify-content: center; }

.Header-menu-container-2rqw1 ul.Header-menu-sKL0B {
  margin-top: 30px;
  padding: 12px 10px;
  background: #fff;
  display: none;
  position: absolute;
  right: 0; }
  .Header-menu-container-2rqw1 ul.Header-menu-sKL0B.Header-active-1uMAQ {
    display: block; }

.Header-menu-container-2rqw1 li {
  font-size: 20px; }
  .Header-menu-container-2rqw1 li:not(:last-child) {
    margin-bottom: 10px; }

.HeroBanner-container-fYWwV {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1024px) {
    .HeroBanner-container-fYWwV {
      padding: 0 60px; } }

.HeroBanner-text-container-3UaLg {
  max-width: 75%;
  text-align: center; }
  @media (min-width: 600px) {
    .HeroBanner-text-container-3UaLg {
      max-width: 60%; } }
  .HeroBanner-text-container-3UaLg.HeroBanner-border-1PvtJ {
    border: 1px solid #fff;
    padding: 20px; }

.HeroBanner-text-2io57 {
  font-size: 24px;
  line-height: 1.3;
  color: #fff; }
  @media (min-width: 1024px) {
    .HeroBanner-text-2io57 {
      font-size: 40px; } }

.Feature-container-TXDFJ {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative; }

.Feature-inner-container-1OeTM {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse; }

.Feature-title-description-1u7IQ {
  width: 50%;
  color: white; }
  .Feature-title-description-1u7IQ .Feature-title-34dMt {
    display: inline-block;
    font-size: 36px;
    margin-bottom: 20px; }
  .Feature-title-description-1u7IQ .Feature-description-2dTj5 {
    font-size: 18px; }

.Feature-image-2l6yD {
  width: 600px;
  height: 0;
  padding-bottom: 22%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

a.Feature-image-2l6yD {
  transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1); }
  a.Feature-image-2l6yD:hover {
    box-shadow: 0px 0px 10px 8px rgba(225, 225, 225, 0.9); }

.styles-clearfix-2Rb3A:before,
.styles-clearfix-2Rb3A:after {
  content: "";
  display: table; }

.styles-clearfix-2Rb3A:after {
  clear: both; }

.styles-clearfix-2Rb3A {
  zoom: 1; }

* {
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
  margin: 0; }

html,
body {
  font-size: 10px; }

p {
  font-size: 1.4rem;
  line-height: 1.6em; }
  p small {
    font-size: .8em; }

a {
  transition: color 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  backface-visibility: hidden;
  text-decoration: none;
  color: #333333;
  font-family: inherit; }
  a:hover {
    color: #005CAF;
    cursor: pointer; }
  a:focus {
    outline: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1.4rem; }

/*Oswald Webfont*/
@font-face {
  font-family: 'Oswald', sans-serif; }

.Resume-resume-container-1GY0j {
  width: 100vw;
  height: 100vh; }


/*# sourceMappingURL=styles.chunk.css.map*/